<div class="start-pop">
    <!--<div class="text">
        Какой-то текст, если нужен
    </div>-->
    <div class="start">
        <img src="images/startscreen-btn-h.png" alt=""/>
        <img src="images/startscreen-btn.png" alt=""/>
    </div>
</div>
<!--<div class="s-ctrls">
    <div class="continue">
        <img src="images/startscreen-btn-continue.svg" alt=""/>
        <img src="images/startscreen-btn-continue-h.svg" alt=""/>
    </div>
    <div class="clr hoverable">
        <img src="images/startscreen-btn-restart.svg" alt=""/>
        <img src="images/startscreen-btn-restart-h.svg" alt=""/>
    </div>
</div>-->
<div class="loader-pop">
    <div class="l"></div>
</div>
<div class="orientation-pop">
    <div class="text">
        Экран слишком мал :(<br/>
        Переверните устройство или используйте компьютер, инспектор.
    </div>
</div>
<div class="special-btns"><div class="inner"></div></div>
<div class="achievement-pop">
    <div class="close"></div>
    <div class="into"></div>
</div>
<div class="info-pop">
    <div class="caller"></div>
    <div class="inner" style="background-image: url(images/1-23/1-23-bg.jpg);">
        <div class="tabs">
            <div><span>Сохранение</span></div>
            <div><span>Загрузка</span></div>
            <div><span>Достижения</span></div>
            <div><span>Персонажи</span></div>
            <div><span>Полезные статьи</span></div>
        </div>
        <div class="content">
            <div class="top">
                <div class="block">
                    <div class="h">Сохранение</div>
                    <div class="desc">
                        Ваши данные переработаны в личный код.<br/>
                        Введите его, когда захотите продолжить с того же места на любом устройстве.
                    </div>
                </div>
                <div class="block">
                    <div class="h">Загрузка</div>
                    <div class="desc">
                        Ваши данные переработаны в личный код.<br/>
                        Введите его, когда захотите продолжить с того же места на любом устройстве.
                    </div>
                </div>
                <div class="block">
                    <div class="h">Достижения (<span class="ach-ctr"></span>)</div>
                    <div class="desc">На этой странице отмечаются ваши успехи в прохождении сюжета.</div>
                </div>
                <div class="block">
                    <div class="h">Персонажи</div>
                    <div class="desc">Здесь вы можете увидеть информацию о персонажах</div>
                </div>
                <div class="block">
                    <div class="h">Полезные статьи</div>
                    <div class="desc">Полезные статьи о том как происходят поиски и чем ты можешь помочь</div>
                </div>
            </div>
            <div class="container">
                <div class="t-scroll-wrap">
                    <div class="t-scroll-inner">
                        <div class="block">
                            <div class="the-code">
                                <div class="code"><span></span></div>
                                <input type="text" class="code-hidden"/>
                                <div class="btn copy">скопировать в буфер</div>
                            </div>
                            <div class="the-code">
                                <input data-valid="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" placeholder="Введите e-mail" type="text" class="mail-input"/>
                                <a href="" class="btn mail">Отправить на почту</a>
                            </div>
                            <div class="or-copy">
                                Или вы можете схоранить себе qr-код и воспользоваться сканером на устройстве.
                            </div>
                            <a href="" class="btn save">Сохранить файл с кодом</a>
                            <div class="qr"></div>
                        </div>
                        <div class="block">
                            <div class="the-code">
                                <input placeholder="Введите ваш код" type="text" class="code-input"/>
                                <div class="btn go">Продолжить&nbsp;&nbsp;&rarr;</div>
<!--                                <div class="err-text"></div>-->
                            </div>
                        </div>
                        <div class="block achievements">
                        
                        </div>
                        <div class="block">
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Леший</div>
                                    Предприниматель. В поисково-спасательном отряде «ЛизаАлерт» с 2016 года.<br/>
                                    Прошёл путь от пешевого поисковика до координатора.
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Боб</div>
                                    Блогер. В отряд пришёл в 2020 году. Участвовал в резонансном поиске пропавшего мальчика Кости.
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Ежик с котомкой</div>
                                    Руководитель коммерческой организации. Старший поисковик группы с большим опытом в поисковых работах.<br/>
                                    Координатор водолазной группы «ДобротворецЪ».
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Vert</div>
                                    Предприниматель. В поисково-спасательном отряде с 2016 год.<br/>
                                    Пилот беспилотного летательного аппарата «ZALA».
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Semen</div>
                                    Директор частной охранной организации. В поисково-спасательном отряде «ЛизаАлерт» уже более 3-х лет. Старший поисковик группы.
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Астатический математический маятник</a>
                                <div class="art-text">
                                    Управление полётом самолёта, как можно показать с помощью не совсем тривиальных
                                    вычислений, трансформирует вибрирующий центр сил.
                                </div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Прецессирующий реципиент в XXI веке</a>
                                <div class="art-text">Момент просветляет культурный ПИГ. Кинематическое уравнение Эйлера дает гирогоризонт.</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Почему возможна быличка?</a>
                                <div class="art-text">Однако исследование задачи в более строгой постановке показывает, что заимствование проецирует суммарный поворот.</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Почему изменяем ротор?</a>
                                <div class="art-text">Курс, как можно показать с помощью не совсем тривиальных вычислений, традиционен.</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Почему изменяем ротор?</a>
                                <div class="art-text">Курс, как можно показать с помощью не совсем тривиальных вычислений, традиционен.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-scroll-bar"><div></div></div>
            </div>
        </div>
    </div>
</div>