<div class="start-pop">
    <!--<div class="text">
        Какой-то текст, если нужен
    </div>-->
    <div class="start">
        <img src="images/startscreen-btn-h.png" alt=""/>
        <img src="images/startscreen-btn.png" alt=""/>
    </div>
</div>
<!--<div class="s-ctrls">
    <div class="continue">
        <img src="images/startscreen-btn-continue.svg" alt=""/>
        <img src="images/startscreen-btn-continue-h.svg" alt=""/>
    </div>
    <div class="clr hoverable">
        <img src="images/startscreen-btn-restart.svg" alt=""/>
        <img src="images/startscreen-btn-restart-h.svg" alt=""/>
    </div>
</div>-->
<div class="loader-pop">
    <div class="l"></div>
</div>
<div class="orientation-pop">
    <div class="text">
        Экран слишком мал :(<br/>
        Переверните устройство или используйте компьютер, инспектор.
    </div>
</div>
<div class="special-btns"><div class="inner"></div></div>
<div class="achievement-pop">
    <div class="close"></div>
    <div class="into"></div>
</div>
<div class="info-pop">
    <div class="caller">
        <img src="images/icons/icon-menu.svg" alt=""/>
        <img src="images/icons/icon-close.svg" alt=""/>
    </div>
    <div class="inner" style="background-image: url(images/1-23/1-23-bg.jpg);">
        <div class="tabs">
            <div><span>Сохранение</span></div>
            <div><span>Загрузка</span></div>
            <div><span>Достижения</span></div>
            <div><span>Персонажи</span></div>
            <div><span>Полезные статьи</span></div>
        </div>
        <div class="content">
            <div class="top">
                <div class="block">
                    <div class="h">Header1</div>
                    <div class="desc">Text text text1</div>
                </div>
                <div class="block">
                    <div class="h">Header2</div>
                    <div class="desc">Text text text2</div>
                </div>
                <div class="block">
                    <div class="h">Достижения (<span class="ach-ctr"></span>)</div>
                    <div class="desc">Text text text3</div>
                </div>
                <div class="block">
                    <div class="h">Header4</div>
                    <div class="desc">Text text text4</div>
                </div>
                <div class="block">
                    <div class="h">Header5</div>
                    <div class="desc">Text text text5</div>
                </div>
            </div>
            <div class="container">
                <div class="t-scroll-wrap">
                    <div class="t-scroll-inner">
                        <div class="block">
                            Save
                        </div>
                        <div class="block">
                            Load
                        </div>
                        <div class="block achievements">
                        
                        </div>
                        <div class="block">
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Header1</div>
                                    Text text text1
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Header2</div>
                                    Text text text2
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Header3</div>
                                    Text text text3
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Header4</div>
                                    Text text text4
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Header5</div>
                                    Text text text5
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Text text text</a>
                                <div class="art-text">Text text text</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Text text text</a>
                                <div class="art-text">Text text text</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Text text text</a>
                                <div class="art-text">Text text text</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-scroll-bar"><div></div></div>
            </div>
        </div>
    </div>
</div>