<!DOCTYPE html>
<html data-app='{"modules":["index"],"index":4}'>
    <head>
		<meta charset="utf-8" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<title></title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="maximum-scale=1.0,user-scalable=0">
<!--<link rel="stylesheet" href="css/style.min.css" />-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script>window.jQuery||document.write('<script src="js/lib/jquery.js">\x3C/script>')</script>
        <link href="css/video-js.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css" />
<script src="js/lib/event.js"></script>
<script src="js/lib/imagesloaded.js"></script>
<script src="js/lib/underscore.min.js"></script>
<script src="js/lib/backbone.min.js"></script>
<script src="js/lib/lottie.min.js"></script>
<script src="js/lib/video.min.js"></script>
<script src="js/lib/silvermine-videojs-quality-selector.min.js"></script>
<script src="js/app.js" type="module"></script>

<!--<script src="js/built.min.js"></script>-->
	</head>
	<body>
    <!-- Yandex.Metrika counter -->
    <!--<script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(68233750, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
     });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/68233750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
    <!-- /Yandex.Metrika counter -->
		<div id="wrap">
			<video playsinline
					class="video-js"
					controls>
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
            <!--<div class="test-mask">
            
            </div>-->
			<div class="overlay-block">
                <div class="ov-wrap qs">
                    <div class="bg-img" style="background-image: url(images/4-31/4-31-bg.jpg);"></div>
                    <div class="ov-inner int">
                        <div class="bg-img l" style="background-image: url(images/4-31/4-31-map.svg);"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                        <div class="btns">
                            <div class="l yep"></div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap fork">
                    <div class="bg-img" style="background-image: url(images/4-6/bg.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Побег? Побег!? Побег!</div>
                            <div class="h-b-text">
                                Прими решение, как действовать Максу, выбрав один из вариантов.
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int diff">
                        <div class="l-bg"></div>
                        <div class="l-bg"></div>
                        <div class="the-btn">
                            <div class="btn-h"><div>Выбить дверь</div></div>
                        </div>
                        <div class="the-btn alt">
                            <div class="btn-h"><div>Искать другой выход</div></div>
                        </div>
                    </div>
                    <div class="the-prog"></div>
                </div>
                <div class="ov-wrap tablets">
                    <div class="bg-img" style="background-image: url(images/4-4/bg.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Таблетки для Артёма</div>
                            <div class="h-b-text">
                                В кармане пусто. Прими решение как поступить Лисе, выбрав один из вариантов действий.
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="l"></div>
                        <div class="l"></div>
                        <div class="the-btn">
                            <div class="btn-h"><div>Уйти</div></div>
                            <div class="btn-sh">Отчаянные времена требуют отчаянных мер</div>
                        </div>
                        <div class="the-btn alt">
                            <div class="btn-h"><div>Отвлечь продавца</div></div>
                        </div>
                    </div>
                    <div class="the-prog"></div>
                </div>
            </div>
            
            <div class="start-pop">
    <!--<div class="text">
        Какой-то текст, если нужен
    </div>-->
    <div class="start">
        <img src="images/startscreen-btn-h.png" alt=""/>
        <img src="images/startscreen-btn.png" alt=""/>
    </div>
</div>
<!--<div class="s-ctrls">
    <div class="continue">
        <img src="images/startscreen-btn-continue.svg" alt=""/>
        <img src="images/startscreen-btn-continue-h.svg" alt=""/>
    </div>
    <div class="clr hoverable">
        <img src="images/startscreen-btn-restart.svg" alt=""/>
        <img src="images/startscreen-btn-restart-h.svg" alt=""/>
    </div>
</div>-->
<div class="loader-pop">
    <div class="l"></div>
</div>
<div class="orientation-pop">
    <div class="text">
        Экран слишком мал :(<br/>
        Переверните устройство или используйте компьютер, инспектор.
    </div>
</div>
<div class="special-btns"><div class="inner"></div></div>
<div class="achievement-pop">
    <div class="close"></div>
    <div class="into"></div>
</div>
<div class="info-pop">
    <div class="caller">
        <img src="images/icons/icon-menu.svg" alt=""/>
        <img src="images/icons/icon-close.svg" alt=""/>
    </div>
    <div class="inner" style="background-image: url(images/1-23/1-23-bg.jpg);">
        <div class="tabs">
            <div><span>Сохранение</span></div>
            <div><span>Загрузка</span></div>
            <div><span>Достижения</span></div>
            <div><span>Персонажи</span></div>
            <div><span>Полезные статьи</span></div>
        </div>
        <div class="content">
            <div class="top">
                <div class="block">
                    <div class="h">Header1</div>
                    <div class="desc">Text text text1</div>
                </div>
                <div class="block">
                    <div class="h">Header2</div>
                    <div class="desc">Text text text2</div>
                </div>
                <div class="block">
                    <div class="h">Достижения (<span class="ach-ctr"></span>)</div>
                    <div class="desc">Text text text3</div>
                </div>
                <div class="block">
                    <div class="h">Header4</div>
                    <div class="desc">Text text text4</div>
                </div>
                <div class="block">
                    <div class="h">Header5</div>
                    <div class="desc">Text text text5</div>
                </div>
            </div>
            <div class="container">
                <div class="t-scroll-wrap">
                    <div class="t-scroll-inner">
                        <div class="block">
                            Save
                        </div>
                        <div class="block">
                            Load
                        </div>
                        <div class="block achievements">
                        
                        </div>
                        <div class="block">
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Header1</div>
                                    Text text text1
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Header2</div>
                                    Text text text2
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Header3</div>
                                    Text text text3
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Header4</div>
                                    Text text text4
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Header5</div>
                                    Text text text5
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Text text text</a>
                                <div class="art-text">Text text text</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Text text text</a>
                                <div class="art-text">Text text text</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Text text text</a>
                                <div class="art-text">Text text text</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-scroll-bar"><div></div></div>
            </div>
        </div>
    </div>
</div>
		</div>
    <script type="text/template" id="i-2-25-item-template">
        <% for(let i=0;i<items.length;i++){%>
        <div class="item">
            <div class="h"><%= items[i].h %></div>
            <div class="text"><%= items[i].text %></div>
        </div>
        <% } %>
    </script>
        <script type="text/template" id="ext-player-template">
            <a href="" class="return hoverable">
                <img src="images/player-close.svg" alt=""/>
                <img src="images/player-close-h.svg" alt=""/>
            </a>
            <input type="checkbox" />
            <div class="sp-toggle">
                <div class="hoverable">
                    <img src="images/player-ch-btn-open.svg" alt=""/>
                    <img src="images/player-ch-btn-open-h.svg" alt=""/>
                </div>
                <div class="hoverable">
                    <img src="images/player-ch-btn-collapse.svg" alt=""/>
                    <img src="images/player-ch-btn-collapse-h.svg" alt=""/>
                </div>
            </div>
            <div class="step-btns">
                <% for(let i=0;i<choose.length;i++){ %>
                <div class="int-ind-back<%= choose[i]?' enabled':' ' %>"><span><%= i+1 %></span></div>
                <% } %>
            </div>
        </script>
	</body>
</html>