<!DOCTYPE html>
<html data-app='{"modules":["index"],"index":2}'>
    <head>
		<meta charset="utf-8" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<title></title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="maximum-scale=1.0,user-scalable=0">
<!--<link rel="stylesheet" href="css/style.min.css" />-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script>window.jQuery||document.write('<script src="js/lib/jquery.js">\x3C/script>')</script>
        <link href="css/video-js.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css" />
<script src="js/lib/event.js"></script>
<script src="js/lib/imagesloaded.js"></script>
<script src="js/lib/underscore.min.js"></script>
<script src="js/lib/backbone.min.js"></script>
<script src="js/lib/lottie.min.js"></script>
<script src="js/lib/video.min.js"></script>
<script src="js/lib/silvermine-videojs-quality-selector.min.js"></script>
<script src="js/lib/jquery.qrcode.min.js"></script>
<script src="js/app.js" type="module"></script>

<!--<script src="js/built.min.js"></script>-->
	</head>
	<body>
    <!-- Yandex.Metrika counter -->
    <!--<script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(68233750, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
     });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/68233750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
    <!-- /Yandex.Metrika counter -->
		<div id="wrap">
			<video playsinline
					class="video-js"
					controls>
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
            <!--<div class="test-mask">
            
            </div>-->
			<div class="overlay-block">
                <div class="ov-wrap qs">
                    <div class="bg-img" style="background-image: url(images/2-25/2-25-bg.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Что делать при поиске в городе?</div>
                            <div class="h-b-text">
                                Тебе будут последовательно предложен ряд действий. Прими решение, какие из них правильные для поиска в городе.
                                <br/><br/>
                                Галочка — то, что нужно. Крестик — не подходит для города.
                                <br/><br/>
                                В зависимости от набранных очков ты сможешь получить достижение одного из трёх уровней.
                            </div>
                            <div class="h-b-infogr">
                                <picture>
                                    <source srcset="images/2-25/2-25-intro-pic.png" media="(min-width:1024px)"/>
                                    <img src="images/2-25/2-25-intro-pic-m.png" alt=""/>
                                </picture>
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="bg-img l" style="background-image: url(images/2-25/map.svg);"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                        <div class="int-score">
                            <div class="s-dots"><div></div><div></div><div></div></div>
                            <div class="s-amt">0</div>
                            <div class="s-descr">ваши очки</div>
                        </div>
                        <div class="btns">
                            <div class="l yep"></div>
                            <div class="l"></div>
                        </div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Новые знания получены:)</div>
                            <div class="h-b-text">
                                Продолжаем поиск, впереди ещё много всего полезного и интересного!
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap ring">
                    <div class="bg-img" style="background-image: url(images/2-7/2-7-bg1.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Похоже, Артём придумал какой-то шифр, любопытно, куда это ведёт</div>
                            <div class="h-b-text">
                                Артём использовал шифр Цезаря. Он работает на принципе смещения алфавита.
                                <br/><br/>
                                Крути колесо шифра влево или вправо, пока не получишь что-то внятное.
                            </div>
                            <div class="h-b-infogr">
                                <picture>
                                    <source srcset="images/2-7/2-7-intro-pic.png" media="(min-width:1024px)"/>
                                    <img src="images/2-7/2-7-intro-pic-m.png" alt=""/>
                                </picture>
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="rings">
                            <div class="r-mask" style="background-image: url(images/2-7/2-7-ring-out.svg);">
                                <div class="r-in" style="background-image: url(images/2-7/2-7-ring-in.svg);"></div>
                            </div>
                            <div class="l"></div>
                        </div>
                        <div class="l-arr"></div>
                        <div class="r-arr"></div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Второй этап</div>
                            <div class="h-b-text">
                                Набери ответ согласно подсказке, найденной на предыдущем этапе.
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="digits d1" style="background-image: url(images/2-7/2-7-bigframe.svg);">
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="roller">
                                <div class="t-arr"></div>
                                <div class="l"></div>
                                <div class="b-arr"></div>
                            </div>
                        </div>
                    </div>
                    <div class="note" style="background-image: url(images/2-7/2-7-bg2.jpg);">
                        <div class="n-text"></div>
                        <div class="n-text"></div>
                        <div class="n-text"></div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Этап 3</div>
                            <div class="h-b-text">
                                Найденные тобой цифры образовали пары, являющиеся координатами в таблице.
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="digits d2" style="background-image: url(images/2-7/2-7-topframe.svg);">
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="roller" >
                                <div class="l" style="background-image: url(images/2-7/2-7-two-digit-focus.svg);"></div>
                            </div>
                        </div>
                        <div class="digits d3" style="background-image: url(images/2-7/2-7-botframe.svg);">
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="roller"><div class="l"></div></div>
                        </div>
                        <div class="table">
                            <div class="into"></div>
                            <div class="t-over" style="background-image: url(images/2-7/2-7-table.svg);"></div>
                        </div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Код к сейфу</div>
                            <div class="h-b-text">
                                Отчим Артёма каждый день меняет код к сейфу, теперь ты знаешь, какой он сегодня. Завтра он будет совсем другим ;)
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="the-blood" style="background-image:url(images/blood.svg);"></div>
                    <div class="the-prog"></div>
                </div>
                <div class="ov-wrap labyrinth">
                    <div class="ov-inner hi-bye">
                        <div class="bg-img" style="background-image: url(images/2-28/2-28-lost-bg.jpg);"></div>
                        <div class="ov-cont">
                            <div class="h-b-h">Найди Артёма</div>
                            <div class="h-b-text">
                                Брат Лисы потерялся в торговом центре, ребята переживают и пытаются его найти.
                                <br/><br/>
                                Управляй фишкой, нажимая на предложенные варианты пути.
                            </div>
                            <div class="h-b-infogr">
                                <picture>
                                    <source srcset="images/2-28/2-28-intro-pic.png" media="(min-width:1024px)"/>
                                    <img src="images/2-28/2-28-intro-pic-m.png" alt=""/>
                                </picture>
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <video playsinline preload="metadata"></video>
                        <canvas class="smooth"></canvas>
                        <div class="into"></div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="bg-img" style="background-image: url(images/2-28/2-28-overlay.jpg);"></div>
                        <div class="ov-cont">
                            <div class="h-b-h">НАЙДЕН_ЖИВ</div>
                            <div class="h-b-text">
                                Ребята справились, но все изрядно натерпелись. Лучше держаться вместе.
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap fix">
                    <div class="bg-img" style="background-image: url(images/2-39/2-39-bg.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Собери пазл?</div>
                            <div class="h-b-text">
                                Нееет, это было бы слишком просто или наоборот слишком долго, а тебе нужно ещё историю досмотреть:)
                                <br/><br/>
                                Собирая пазл, мы мыслим ассоциативно. Найди слова, которые мы спрятали в череде букв.
                                <br/><br/>
                                Нажимай на стрелки, чтобы перемещать наборы букв, и фиксируй ассоциации нажатием кнопки.
                            </div>
                            <div class="h-b-infogr">
                                <picture>
                                    <source srcset="images/2-39/2-39-intro-pic.png" media="(min-width:1024px)"/>
                                    <img src="images/2-39/2-39-intro-pic-m.png" alt=""/>
                                </picture>
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="words"></div>
                        <video playsinline preload="metadata"></video>
                        <div class="l-arr"></div>
                        <div class="r-arr"></div>
                        <div class="the-btn">
                            <div class="l"></div>
                            <div class="btn-h"><div>Зафиксировать</div></div>
                        </div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">В путь!</div>
                            <div class="h-b-text">
                                Неплохо, пора двигаться дальше.
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="start-pop">
    <!--<div class="text">
        Какой-то текст, если нужен
    </div>-->
    <div class="start">
        <img src="images/startscreen-btn-h.png" alt=""/>
        <img src="images/startscreen-btn.png" alt=""/>
    </div>
    <div class="load"></div>
</div>
<!--<div class="s-ctrls">
    <div class="continue">
        <img src="images/startscreen-btn-continue.svg" alt=""/>
        <img src="images/startscreen-btn-continue-h.svg" alt=""/>
    </div>
    <div class="clr hoverable">
        <img src="images/startscreen-btn-restart.svg" alt=""/>
        <img src="images/startscreen-btn-restart-h.svg" alt=""/>
    </div>
</div>-->
<div class="loader-pop">
    <div class="l"></div>
</div>
<div class="orientation-pop">
    <div class="text">
        Экран слишком мал :(<br/>
        Переверните устройство или используйте компьютер, инспектор.
    </div>
</div>
<div class="special-btns"><div class="inner"></div></div>
<div class="achievement-pop">
    <div class="close"></div>
    <div class="into"></div>
</div>
<div class="info-pop">
    <div class="caller"></div>
    <div class="inner" style="background-image: url(images/1-23/1-23-bg.jpg);">
        <div class="tabs">
            <div><span>Сохранение</span></div>
            <div><span>Загрузка</span></div>
            <div><span>Достижения</span></div>
            <div><span>Персонажи</span></div>
            <div><span>Полезные статьи</span></div>
        </div>
        <div class="content">
            <div class="top">
                <div class="block">
                    <div class="h">Сохранение</div>
                    <div class="desc">
                        Ваши данные переработаны в личный код.<br/>
                        Введите его, когда захотите продолжить с того же места на любом устройстве.
                    </div>
                </div>
                <div class="block">
                    <div class="h">Загрузка</div>
                    <div class="desc">
                        Ваши данные переработаны в личный код.<br/>
                        Введите его, когда захотите продолжить с того же места на любом устройстве.
                    </div>
                </div>
                <div class="block">
                    <div class="h">Достижения (<span class="ach-ctr"></span>)</div>
                    <div class="desc">На этой странице отмечаются ваши успехи в прохождении сюжета.</div>
                </div>
                <div class="block">
                    <div class="h">Персонажи</div>
                    <div class="desc">Здесь вы можете увидеть информацию о персонажах</div>
                </div>
                <div class="block">
                    <div class="h">Полезные статьи</div>
                    <div class="desc">Полезные статьи о том как происходят поиски и чем ты можешь помочь</div>
                </div>
            </div>
            <div class="container">
                <div class="t-scroll-wrap">
                    <div class="t-scroll-inner">
                        <div class="block">
                            <div class="the-code">
                                <div class="code"><span></span></div>
                                <input type="text" class="code-hidden"/>
                                <div class="btn copy">скопировать в буфер</div>
                            </div>
                            <div class="the-code">
                                <input data-valid="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" placeholder="Введите e-mail" type="text" class="mail-input"/>
                                <a href="" class="btn mail">Отправить на почту</a>
                            </div>
                            <div class="or-copy">
                                Или вы можете схоранить себе qr-код и воспользоваться сканером на устройстве.
                            </div>
                            <a href="" class="btn save">Сохранить файл с кодом</a>
                            <div class="qr"></div>
                        </div>
                        <div class="block">
                            <div class="the-code">
                                <input placeholder="Введите ваш код" type="text" class="code-input"/>
                                <div class="btn go">Продолжить&nbsp;&nbsp;&rarr;</div>
<!--                                <div class="err-text"></div>-->
                            </div>
                        </div>
                        <div class="block achievements">
                        
                        </div>
                        <div class="block">
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Леший</div>
                                    Предприниматель. В поисково-спасательном отряде «ЛизаАлерт» с 2016 года.<br/>
                                    Прошёл путь от пешевого поисковика до координатора.
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Боб</div>
                                    Блогер. В отряд пришёл в 2020 году. Участвовал в резонансном поиске пропавшего мальчика Кости.
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Ежик с котомкой</div>
                                    Руководитель коммерческой организации. Старший поисковик группы с большим опытом в поисковых работах.<br/>
                                    Координатор водолазной группы «ДобротворецЪ».
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Vert</div>
                                    Предприниматель. В поисково-спасательном отряде с 2016 год.<br/>
                                    Пилот беспилотного летательного аппарата «ZALA».
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Semen</div>
                                    Директор частной охранной организации. В поисково-спасательном отряде «ЛизаАлерт» уже более 3-х лет. Старший поисковик группы.
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Астатический математический маятник</a>
                                <div class="art-text">
                                    Управление полётом самолёта, как можно показать с помощью не совсем тривиальных
                                    вычислений, трансформирует вибрирующий центр сил.
                                </div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Прецессирующий реципиент в XXI веке</a>
                                <div class="art-text">Момент просветляет культурный ПИГ. Кинематическое уравнение Эйлера дает гирогоризонт.</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Почему возможна быличка?</a>
                                <div class="art-text">Однако исследование задачи в более строгой постановке показывает, что заимствование проецирует суммарный поворот.</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Почему изменяем ротор?</a>
                                <div class="art-text">Курс, как можно показать с помощью не совсем тривиальных вычислений, традиционен.</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Почему изменяем ротор?</a>
                                <div class="art-text">Курс, как можно показать с помощью не совсем тривиальных вычислений, традиционен.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-scroll-bar"><div></div></div>
            </div>
        </div>
    </div>
</div>
		</div>
    <script type="text/template" id="i-2-28-template">
        <div class="ovl">
            <div style="background-image: url(images/2-28/2-28-overlay.jpg);-webkit-mask-position:<%= ovl.left %>em <%= ovl.top %>em;mask-position:<%= ovl.left %>em <%= ovl.top %>em;"></div>
        </div>
        <div class="choose" style="background-image: url(images/2-28/<%= src %>.svg);">
            <% for(let i=0;i<btns.length;i++){ %>
            <div class="btn" style="left:<%= btns[i].left %>%;top:<%= btns[i].top*1920/1080 %>%;"></div>
            <% } %>
        </div>
    </script>
    <script type="text/template" id="i-2-7-table-template">
        <% for(let i=0;i<rows;i++){ %>
        <div class="t-tr">
            <% for(let j=0;j<cols;j++){ %>
            <div class="t-td">
                <%= Math.floor(Math.random()*10) %>
                <% if(i===0){ %>
                <div class="t-td top"><%= j %></div>
                <% } %>
                <% if(j===0){ %>
                <div class="t-td left"><%= i %></div>
                <% } %>
            </div>
            <% } %>
        </div>
        <% } %>
    </script>
    <script type="text/template" id="i-2-25-reveal-template">
        <% for(let i=0;i<items.length;i++){ if('index' in items[i])%>
        <div class="bg-img reveal" style="background-image: url(images/2-25/over<%= items[i].index+1 %>.svg);"></div>
        <% } %>
    </script>
    <script type="text/template" id="i-2-25-item-template">
        <% for(let i=0;i<items.length;i++){%>
        <div class="item">
            <div class="h"><%= items[i].h %></div>
            <div class="text"><%= items[i].text %></div>
        </div>
        <% } %>
    </script>
    <script type="text/template" id="info-ach-template">
    <% for(let i=0;i<achievements.length;i++){ %>
    <div class="ach-item<%= achievements[i].disabled?' disabled':'' %>">
        <img class="ach-img" src="<%= achievements[i].img %>" />
        <div class="ach-text">
            <div class="ach-h"><%= achievements[i].h %></div>
            <%= achievements[i].text %>
        </div>
    </div>
    <% } %>
</script>
<script type="text/template" id="achievement-template">
    <img class="img" src="<%= img %>" />
    <div class="inner">
        <div class="h"><%= h %></div>
        <div class="text"><%= text %></div>
    </div>
</script>
<script type="text/template" id="ext-player-template">
    <input type="checkbox" />
    <img class="icon" src="images/icons/icon-bookmark.svg" alt=""/>
    <div class="step-btns">
        <% for(let i=0;i<choose.length;i++){ %>
        <div class="int-ind-back<%= choose[i]?' enabled':' ' %>"><span><%= i+1 %></span></div>
        <% } %>
    </div>
</script>
	</body>
</html>