<!DOCTYPE html>
<html data-app='{"modules":["index"],"index":1}'>
    <head>
		<meta charset="utf-8" />
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
<title></title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<meta name="format-detection" content="telephone=no">
<meta name="viewport" content="maximum-scale=1.0,user-scalable=0">
<!--<link rel="stylesheet" href="css/style.min.css" />-->
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->
<script>window.jQuery||document.write('<script src="js/lib/jquery.js">\x3C/script>')</script>
        <link href="css/video-js.min.css" rel="stylesheet">
<link rel="stylesheet" href="css/style.css" />
<script src="js/lib/event.js"></script>
<script src="js/lib/imagesloaded.js"></script>
<script src="js/lib/underscore.min.js"></script>
<script src="js/lib/backbone.min.js"></script>
<script src="js/lib/lottie.min.js"></script>
<script src="js/lib/video.min.js"></script>
<script src="js/lib/silvermine-videojs-quality-selector.min.js"></script>
<script src="js/lib/jquery.qrcode.min.js"></script>
<script src="js/app.js" type="module"></script>

<!--<script src="js/built.min.js"></script>-->
	</head>
	<body>
    <!-- Yandex.Metrika counter -->
    <!--<script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(68233750, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
     });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/68233750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
    <!-- /Yandex.Metrika counter -->
		<div id="wrap">
			<video playsinline
					class="video-js"
					controls>
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
			<div class="overlay-block">
                <div class="ov-wrap learn">
                    <div class="ov-inner hi-bye">
                        <div class="bg-img" style="background-image: url(images/1-23/1-23-bg.jpg);"></div>
                        <div class="ov-cont">
                            <div class="h-b-h">Решай быстрее!</div>
                            <div class="h-b-text">
                                Алиса и Артём оказались в непростой ситуации. Садиться в машину к незнакомому человеку изначально было плохой идеей, скорее выбирайся из ситуации.
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="bg-img" style="background-image: url(images/1-23/1-23-bg.jpg);"></div>
                        <div class="ov-cont">
                            <div class="h-b-h">Решай быстрее!</div>
                            <div class="h-b-text">
                                Алиса и Артём оказались в непростой ситуации. Садиться в машину к незнакомому человеку изначально было плохой идеей, скорее выбирайся из ситуации.
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="bg-img" style="background-image: url(images/1-23/1-23-bg.jpg);"></div>
                        <div class="ov-cont">
                            <div class="h-b-h">Решай быстрее!</div>
                            <div class="h-b-text">
                                Алиса и Артём оказались в непростой ситуации. Садиться в машину к незнакомому человеку изначально было плохой идеей, скорее выбирайся из ситуации.
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap fork">
                    <div class="bg-img" style="background-image: url(images/1-23/1-23-bg.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Решай быстрее!</div>
                            <div class="h-b-text">
                                Алиса и Артём оказались в непростой ситуации. Садиться в машину к незнакомому человеку изначально было плохой идеей, скорее выбирайся из ситуации.
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="the-btn">
                            <div class="l"></div>
                            <div class="btn-h"><div>Сопротивляться</div></div>
                            <div class="btn-sh">Рискуя дополнительно разозлить насильника</div>
                        </div>
                        <div class="the-btn alt">
                            <div class="l"></div>
                            <div class="btn-h"><div>Бежать</div></div>
                            <div class="btn-sh">И оставить Артема одного?</div>
                        </div>
                    </div>
                    <div class="the-prog"></div>
                </div>
                <div class="ov-wrap packing">
                    <div class="bg-img" style="background-image: url(images/1-25/1-25-bg.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Помоги Лешему собрать рюкзак</div>
                            <div class="h-b-text">
                                Тебе будут предложены предметы разной степени полезности на поиске. Нужно выбрать, какие пригодятся, а какие только займут полезное место.
                                <br/><br/>
                                Нажми на правую часть экрана, если считаешь, что предмет пригодится на поисках.
                                <br/><br/>
                                Нажми на левую часть экрана, если считаешь, что предмет не нужен.
                            </div>
                            <div class="h-b-infogr">
                                <picture>
                                    <source srcset="images/1-25/1-25-intro-pic.png" media="(min-width:1024px)"/>
                                    <img src="images/1-25/1-25-intro-pic-m.png" alt=""/>
                                </picture>
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="ov-cont phase1">
                            <div class="into"></div>
                            <div class="left">
                                <div class="l"></div>
                                <div class="l-h"><span>Не нужно</span></div>
                            </div>
                            <div class="right">
                                <div class="l"></div>
                                <div class="r-h"><span>Взять с собой</span></div>
                                <div class="r-ctr"><span></span></div>
                            </div>
                            <img src="images/1-25/1-25-arrows.svg" alt="" class="arr"/>
                        </div>
                        <div class="int-score">
                            <div class="s-dots"><div></div><div></div><div></div></div>
                            <div class="s-amt">0</div>
                            <div class="s-descr">ваши очки</div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="bg-img" style="background-image: url(images/1-25/add-bg.svg);"></div>
                        <div class="ov-cont phase2">
    
                        </div>
                        <div class="int-score">
                            <div class="s-dots"><div></div><div></div><div></div></div>
                            <div class="s-amt">0</div>
                            <div class="s-descr">ваши очки</div>
                        </div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Стартуем!</div>
                            <div class="h-b-text">
                                Если ты был внимателен, то узнал, какие вещи и почему пригодятся при городском поиске. Неплохой старт. Хочешь узнать больше — смотри сериал и
                                <a target="_blank" href="">лекции отряда «ЛизаАлерт»</a>.
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap team">
                    <div class="bg-img" style="background-image: url(images/1-30/1-30-bg.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Собери отряд для поиска</div>
                            <div class="h-b-text">
                                Тебе будут последовательно предложено 17 поисковиков, твоя задача собрать команду из 9 человек, координатор Леший у тебя уже есть.
                                <br/><br/>
                                Каждая карточка содержит краткую информацию о поисковике, его специализацию и показатель опытности. Будь готов к тому, что не все могут быть доступны в данный момент.
                                <br/><br/>
                                Нажми на правую часть экрана, чтобы взять поисковика в команду.
                                <br/><br/>
                                Нажми на левую часть экрана, если считаешь, что поисковик не подходит.
                                <br/><br/>
                                Следи за маркерами специализаций, они покажут сколько и каких поисковиков понадобится для успешного поиска.
                            </div>
                            <div class="h-b-infogr">
                                <picture>
                                    <source srcset="images/1-30/1-30-intro-pic.png" media="(min-width:1024px)"/>
                                    <img src="images/1-30/1-30-intro-pic-m.png" alt=""/>
                                </picture>
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <video playsinline preload="auto" muted class="emerge" src="https://naidenzhiv-cache.cdnvideo.ru/naidenzhiv/season2/episode1/int-mp4/1-30-team-deck.mp4"></video>
                        <div class="mini"></div>
                        <div class="ov-cont">
                            <div class="into"></div>
                            <div class="left">
                                <div class="l"></div>
                                <div class="l-h"><span>В другой раз</span></div>
                            </div>
                            <div class="right">
                                <div class="l"></div>
                                <div class="r-h"><span>В команде</span></div>
                                <div class="r-ctr"><span></span></div>
                            </div>
                            <img src="images/1-25/1-25-arrows.svg" alt="" class="arr"/>
                        </div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Почти как настоящий координатор;)</div>
                            <div class="h-b-text">
                                Ты первый раз в жизни собрал свой отряд для поиска пропавших. Понравилось? <a
                                    href="">Вступи в отряд «ЛизаАлерт»</a> и попробуй свои силы в реальном поиске.
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="start-pop">
    <!--<div class="text">
        Какой-то текст, если нужен
    </div>-->
    <div class="start">
        <img src="images/startscreen-btn-h.png" alt=""/>
        <img src="images/startscreen-btn.png" alt=""/>
    </div>
</div>
<!--<div class="s-ctrls">
    <div class="continue">
        <img src="images/startscreen-btn-continue.svg" alt=""/>
        <img src="images/startscreen-btn-continue-h.svg" alt=""/>
    </div>
    <div class="clr hoverable">
        <img src="images/startscreen-btn-restart.svg" alt=""/>
        <img src="images/startscreen-btn-restart-h.svg" alt=""/>
    </div>
</div>-->
<div class="loader-pop">
    <div class="l"></div>
</div>
<div class="orientation-pop">
    <div class="text">
        Экран слишком мал :(<br/>
        Переверните устройство или используйте компьютер, инспектор.
    </div>
</div>
<div class="special-btns"><div class="inner"></div></div>
<div class="achievement-pop">
    <div class="close"></div>
    <div class="into"></div>
</div>
<div class="info-pop">
    <div class="caller"></div>
    <div class="inner" style="background-image: url(images/1-23/1-23-bg.jpg);">
        <div class="tabs">
            <div><span>Сохранение</span></div>
            <div><span>Загрузка</span></div>
            <div><span>Достижения</span></div>
            <div><span>Персонажи</span></div>
            <div><span>Полезные статьи</span></div>
        </div>
        <div class="content">
            <div class="top">
                <div class="block">
                    <div class="h">Сохранение</div>
                    <div class="desc">
                        Ваши данные переработаны в личный код.<br/>
                        Введите его, когда захотите продолжить с того же места на любом устройстве.
                    </div>
                </div>
                <div class="block">
                    <div class="h">Загрузка</div>
                    <div class="desc">
                        Ваши данные переработаны в личный код.<br/>
                        Введите его, когда захотите продолжить с того же места на любом устройстве.
                    </div>
                </div>
                <div class="block">
                    <div class="h">Достижения (<span class="ach-ctr"></span>)</div>
                    <div class="desc">На этой странице отмечаются ваши успехи в прохождении сюжета.</div>
                </div>
                <div class="block">
                    <div class="h">Персонажи</div>
                    <div class="desc">Здесь вы можете увидеть информацию о персонажах</div>
                </div>
                <div class="block">
                    <div class="h">Полезные статьи</div>
                    <div class="desc">Полезные статьи о том как происходят поиски и чем ты можешь помочь</div>
                </div>
            </div>
            <div class="container">
                <div class="t-scroll-wrap">
                    <div class="t-scroll-inner">
                        <div class="block">
                            <div class="the-code">
                                <div class="code"><span></span></div>
                                <input type="text" class="code-hidden"/>
                                <div class="btn copy">скопировать в буфер</div>
                            </div>
                            <div class="the-code">
                                <input data-valid="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" placeholder="Введите e-mail" type="text" class="mail-input"/>
                                <a href="" class="btn mail">Отправить на почту</a>
                            </div>
                            <div class="or-copy">
                                Или вы можете схоранить себе qr-код и воспользоваться сканером на устройстве.
                            </div>
                            <a href="" class="btn save">Сохранить файл с кодом</a>
                            <div class="qr"></div>
                        </div>
                        <div class="block">
                            <div class="the-code">
                                <input placeholder="Введите ваш код" type="text" class="code-input"/>
                                <div class="btn go">Продолжить&nbsp;&nbsp;&rarr;</div>
<!--                                <div class="err-text"></div>-->
                            </div>
                        </div>
                        <div class="block achievements">
                        
                        </div>
                        <div class="block">
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Леший</div>
                                    Предприниматель. В поисково-спасательном отряде «ЛизаАлерт» с 2016 года.<br/>
                                    Прошёл путь от пешевого поисковика до координатора.
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Боб</div>
                                    Блогер. В отряд пришёл в 2020 году. Участвовал в резонансном поиске пропавшего мальчика Кости.
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Ежик с котомкой</div>
                                    Руководитель коммерческой организации. Старший поисковик группы с большим опытом в поисковых работах.<br/>
                                    Координатор водолазной группы «ДобротворецЪ».
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Vert</div>
                                    Предприниматель. В поисково-спасательном отряде с 2016 год.<br/>
                                    Пилот беспилотного летательного аппарата «ZALA».
                                </div>
                            </div>
                            <div class="pers-item">
                                <img src="images/info-pop/photo.jpg" alt="" class="pers-img"/>
                                <div class="pers-text">
                                    <div class="pers-h">Semen</div>
                                    Директор частной охранной организации. В поисково-спасательном отряде «ЛизаАлерт» уже более 3-х лет. Старший поисковик группы.
                                </div>
                            </div>
                        </div>
                        <div class="block">
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Астатический математический маятник</a>
                                <div class="art-text">
                                    Управление полётом самолёта, как можно показать с помощью не совсем тривиальных
                                    вычислений, трансформирует вибрирующий центр сил.
                                </div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Прецессирующий реципиент в XXI веке</a>
                                <div class="art-text">Момент просветляет культурный ПИГ. Кинематическое уравнение Эйлера дает гирогоризонт.</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Почему возможна быличка?</a>
                                <div class="art-text">Однако исследование задачи в более строгой постановке показывает, что заимствование проецирует суммарный поворот.</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Почему изменяем ротор?</a>
                                <div class="art-text">Курс, как можно показать с помощью не совсем тривиальных вычислений, традиционен.</div>
                            </div>
                            <div class="art-item">
                                <a class="art-ref" href="" target="_blank">Почему изменяем ротор?</a>
                                <div class="art-text">Курс, как можно показать с помощью не совсем тривиальных вычислений, традиционен.</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="t-scroll-bar"><div></div></div>
            </div>
        </div>
    </div>
</div>
		</div>
    <script type="text/template" id="i-1-30-item-template">
        <% for(let i=0;i<items.length;i++){%>
        <div class="item">
            <div class="i-img">
                <img src="images/1-30/card<%= i+1 %>.png" alt=""/>
            </div>
            <div class="i-desc"></div>
        </div>
        <% } %>
    </script>
    <script type="text/template" id="i-1-30-mini-template">
        <% for(let i=0;i<yep.length;i++){%>
        <div style="background-image:url(images/1-30/1-30-icon-<%= yep[i].mini.type %>.svg);"></div>
        <% } %>
    </script>
    <script type="text/template" id="i-1-25-item-template">
        <% for(let i=0;i<items.length;i++){%>
        <div class="item<%= !i?' shown':'' %>">
            <div class="i-h"><%= items[i].h %></div>
            <div class="i-img">
                <img src="images/1-25/1-25-obj<%= i+1 %>.png" alt=""/>
            </div>
            <div class="i-desc"><%= items[i].desc %></div>
        </div>
        <% } %>
    </script>
    <script type="text/template" id="i-1-25-circle-template">
        <% for(let i=0;i<circles.length;i++){%>
        <div class="circle" style="left:<%= circles[i].left %>%;top:<%= circles[i].top %>%;"><div class="l"></div></div>
        <% } %>
    </script>

    <script type="text/template" id="info-ach-template">
    <% for(let i=0;i<achievements.length;i++){ %>
    <div class="ach-item<%= achievements[i].disabled?' disabled':'' %>">
        <img class="ach-img" src="<%= achievements[i].img %>" />
        <div class="ach-text">
            <div class="ach-h"><%= achievements[i].h %></div>
            <%= achievements[i].text %>
        </div>
    </div>
    <% } %>
</script>
<script type="text/template" id="achievement-template">
    <img class="img" src="<%= img %>" />
    <div class="inner">
        <div class="h"><%= h %></div>
        <div class="text"><%= text %></div>
    </div>
</script>
<script type="text/template" id="ext-player-template">
    <input type="checkbox" />
    <img class="icon" src="images/icons/icon-bookmark.svg" alt=""/>
    <div class="step-btns">
        <% for(let i=0;i<choose.length;i++){ %>
        <div class="int-ind-back<%= choose[i]?' enabled':' ' %>"><span><%= i+1 %></span></div>
        <% } %>
    </div>
</script>
	</body>
</html>