@include exports("@path:components\_ep1.scss"){/*@path:components\_ep1.scss*/
  .ov-wrap{
    &.fork{
      &.vanish .the-btn.alt{
        visibility:hidden;
        opacity:0;
        @include trs('opacity 10s ease-in-out,visibility 0s ease-in-out 10s');
      }

      .ov-inner{
        &.int{
          @include center();
          @include flx(flex-flow, 'row wrap');
          @include flx(justify-content, center);
          height:auto;
          text-align:center;
          &.shown{
            @include flx(display, flex);
            &+.the-prog{
              opacity:1;
            }
          }
        }
      }

      .the-btn{
        margin:0 6em;
        position:relative;
        &.alt{
          visibility:visible;
        }
        &:not(.alt) .l{
          transform:scale(-1,1);
        }
      }
    }

    &.packing,&.team{
      .ov-inner{
        &.int .ov-cont{
          @include center();
          width:100%;
          height:70%;
        }
      }

      .left,.right{
        @include abs($t:0, $b:0);
        width:28%;
        cursor:pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        &.err:before{
          content:'';
          @include trs('all #{$anim} ease-in-out');
          border:.5em solid rgba(#f00, .5);
          text-indent:1px;
        }
        &:before{
          content:'';
          text-indent:0;
          @include abs($l:0,$r:0,$t:0,$b:0);
        }
      }

      .right{
        right:0;
      }

      .l{
        @include abs($l:0, $r:0, $t:0, $b:0);
      }

      .ov-cont.phase2{
        height:100%;
      }

      .l-h,.r-h,.r-ctr{
        color:#DF8998;
        @include abs($r:1.5em, $t:-1.5em);

        span{
          font-size:.82em;
          @include med(){
            font-size:.7em;
          }
        }
      }

      .r-h{
        right:auto;
        left:1.5em;
      }

      .into{
        @include abs($t:0, $b:0, $l:25%, $r:25%);
      }

      .item{
        @include abs($t:0,$b:0,$l:0,$r:0);
        z-index:1;
        opacity:0;
        visibility:hidden;
        text-indent:0;
        pointer-events:none;
        &.shown{
          opacity:1;
          visibility:visible;
          @include trs('text-indent #{$anim} ease-in-out #{$anim*2},opacity #{$anim} ease-in-out');
        }

        &.putL,&.putR{
          text-indent:1px;
          .i-h, .i-desc{
            opacity:0;
          }
          img{
            opacity:0;
          }
        }
        &.putL img{
          filter:grayscale(1);
        }

        img{
          @include trs('transform #{$anim} ease-in-out,filter #{$anim*2} ease-in-out,opacity #{$anim} ease-in-out #{$anim*2}');
        }
      }

      .i-img{
        @include center();
        @include flx(display, flex);
        @include flx(align-items, center);

        img{
          width:100%;
        }
      }

      .i-desc{
        @include center($b:1em);
        width:80%;
        text-align:center;
        font-size:.75em;
        @include trs('opacity #{$anim} ease-in-out');
        @include med(){
          font-size:.6em;
        }
      }

      .arr{
        --w:40em;
        @include center();
        width:var(--w);
        height:calc(43 / 112 * var(--w));
        pointer-events:none;
      }
    }
    &.packing{
      &.item-l .item:not(.putL):not(.putR) img{
        transform:translate(-2em, 0) rotate(-15deg);
      }
      &.item-r .item:not(.putL):not(.putR) img{
        transform:translate(2em, 0) rotate(15deg);
      }
      .item{
        color:rgba(#fff,0.5);
        &.putL img{
          transform:translate(-23em, 0);
        }
        &.putR img{
          transform:translate(23em, 0);
        }
      }

      .i-h{
        position:absolute;
        width:100%;
        text-align:center;
        text-transform:uppercase;
        font-weight:300;
        font-size:1.2em;
        @include trs('opacity #{$anim} ease-in-out');
      }

      .i-img{
        width:50%;
      }

      .int-score{
        @include center($b:1em);
      }

      .circle{
        position:absolute;
        width:8em;
        height:8em;
        cursor:pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        pointer-events:none;
        &.shown{
          pointer-events:auto;
          .l{
            opacity:1;
          }
        }
        &.clicked:before{
          content:'';
          @include trs('all #{$anim} ease-in-out');
          border:.5em solid #0f0;
          opacity:0;
        }
        &:before{
          content:'';
          @include abs($l:0,$r:0,$t:0,$b:0);
          border-radius:50%;
        }
        .l{
          opacity:0;
        }
      }
    }
    &.team{
      &.enable{
        &.item-l .item:not(.putL):not(.putR) img{
          transform:translate(-2em, 0) rotate(-15deg);
        }

        &.item-r .item:not(.putL):not(.putR) img{
          transform:translate(2em, 0) rotate(15deg);
        }
        .left,.right{
          cursor:pointer;
        }
        .arr{
          opacity:1;
        }
      }
      .mini{
        @include center($t:2em);
        @include flx(display,flex);
        div{
          margin:0 .3em;
          width:2em;
          height:2em;
          background:center/cover no-repeat;
          opacity:.5;
          &.shown{
            opacity:1;
          }
        }
      }
      .item{
        &.putL img{
          transform:translate(-23em, 0) scale(0.9);
        }
        &.putR img{
          transform:translate(23em, 0) scale(0.9);
        }
      }
      .left,.right{
        cursor:default;
      }
      .emerge{
        position:absolute;
        width:100%;
        height:100%;
        pointer-events:none;
      }
      .i-img{
        width:82%;
      }
      .arr{
        opacity:0;
        @include trs('opacity #{$anim} ease-in-out');
      }
      .i-desc{
        bottom:-4em;
      }
    }
  }
}