@include exports("@path:components\_ep2.scss"){/*@path:components\_ep2.scss*/
  .ov-wrap{
    &.qs{
      &.simple{

      }
      .int-score{
        display:none;
        @include abs($b:2em,$l:35em);
        @include med(){
          display:block;
        }
      }
      .left{
        position:absolute;
        width:100%;
        height:100%;
      }
      .reveal{
        opacity:0;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          opacity:1;
        }
      }
      .right{
        @include abs($l:35em,$r:2em,$t:5em);
      }
      .item{
        position:absolute;
        opacity:0;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          opacity:1;
        }
      }
      .h{
        font-weight:300;
        margin-bottom:2em;
        text-transform:uppercase;
      }
      .text{
        font-size:.75em;
        @include med(){
          font-size:.6em;
        }
      }
      .btns{
        @include abs($l:35em,$t:12em);
        @include flx(display,flex);
        .l{
          width:6em;
          height:6em;
          cursor:pointer;
          position:relative;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          &:nth-child(2){
            margin-left:3em;
          }
          &.yep{
            transform:scale(-1, 1);
          }
          &.err:before{
            content:'';
            @include trs('all #{$anim} ease-in-out');
            border:.5em solid rgba(#f00, .5);
            text-indent:1px;
          }
          &.corr:before{
            content:'';
            @include trs('all #{$anim} ease-in-out');
            border:.5em solid rgba(#0f0, .5);
            text-indent:1px;
          }
          &:before{
            content:'';
            text-indent:0;
            @include abs($l:0,$r:0,$t:0,$b:0);
            border-radius:1em;
          }
        }
      }
    }
    &.ring{
      .ov-inner{
        z-index:1;
        &.int.shown{
          &~.note,&~.the-prog{
            opacity:1;
          }
        }
      }
      .note{
        position:absolute;
        width:100%;
        height:100%;
        background:center/contain no-repeat;
        font-size:1.2em;
        opacity:0;
        @include trs('opacity #{$anim} ease-in-out');
      }
      .n-text{
        text-transform:uppercase;
        color:#000;
        text-align:center;
        @include center($t:9em);
        &:nth-child(2){
          top:11.6em;
        }
        &:nth-child(3){
          top:12.8em;
        }
      }
      .l-arr,.r-arr{
        width:4em;
        height:1.92*4em;
        @include abs($b:3em);
        cursor:pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
      }
      .l-arr{
        left:10em;
        transform:scale(-1, 1);
      }
      .r-arr{
        right:10em;
      }
      .rings{
        width:52%;
        padding-bottom:52%;
        @include abs($t:100%,$l:50%);
        transform:translate(-50%, -27%);
        .l{
          @include abs($t:-6.2em,$b:-6.2em,$l:-6.2em,$r:-6.2em);
        }
      }
      .r-mask{
        position:absolute;
        width:100%;
        height:100%;
        background:center/contain no-repeat;
        -webkit-mask-image:linear-gradient(90deg,transparent,#000,transparent);
        mask-image:linear-gradient(90deg,transparent,#000,transparent);
      }
      .r-in{
        height:100%;
        background:center/contain no-repeat;
        @include trs('transform #{$anim} linear');
      }
      .digits{
        color:getc(digit);
        background:center/contain no-repeat;
        --h:4em;
        height:var(--h);
        @include center($f:h);
        @include flx(display,flex);
        @extend %bxz;
        &.d1{
          width:calc(1002/102*var(--h));
          padding-left:calc(0.098*var(--h));
          bottom:7em;
          .roller{
            width:10%;
            padding-bottom:10%;
            left:calc(0.098 / 2 * var(--h));
            display:none;
          }
          .l{
            @include abs($l:-15%,$r:-15%,$t:-15%,$b:-15%);
            margin-left:calc(-0.098/1.5*var(--h));
          }
          .ph{
            width:10%;
            &.shown{
              color:#fff;
              &~.roller{
                display:block;
              }
              &:nth-child(2)~.roller{
                transform:translate(100%, 0);
              }
              &:nth-child(4)~.roller{
                transform:translate(300%, 0);
              }
              &:nth-child(5)~.roller{
                transform:translate(400%, 0);
              }
              &:nth-child(7)~.roller{
                transform:translate(600%, 0);
              }
              &:nth-child(8)~.roller{
                transform:translate(700%, 0);
              }
              &:nth-child(9)~.roller{
                transform:translate(800%, 0);
              }
              &:nth-child(10)~.roller{
                transform:translate(900%, 0);
              }
            }
            &:nth-child(1){
              margin-left:calc(-0.098/2*var(--h));
            }
          }
        }
        &.d2{
          width:calc(1002/102*var(--h));
          padding-left:calc(0.098*var(--h));
          top:3em;
          .roller{
            width:calc(200%/11);
            left:0;
            height:100%;
            display:none;
            @include trs('left #{$anim} ease-in-out');
            .l{
              background:center/contain no-repeat;
              @include abs($l:-5%,$r:-5%,$t:-5%,$b:-5%);
            }
          }
          .ph{
            width:calc(100%/11);
            &.shown{
              &~.roller{
                display:block;
                margin-left:.2%;
              }
              &:nth-child(4)~.roller{
                left:calc(300% / 11.05);
              }
              &:nth-child(7)~.roller{
                left:calc(600% / 11.05);
              }
              &:nth-child(10)~.roller{
                left:calc(900% / 11.05);
              }
            }
            &:nth-child(1){
              margin-left:calc(-0.098/2*var(--h));
            }
          }
        }
        &.d3{
          width:calc(702/102*var(--h));
          padding-left:calc(0.098*var(--h));
          bottom:4em;
          .roller{
            width:calc(100%/7);
            padding-bottom:calc(100%/7);
            margin-left:-1%;
            display:none;
          }
          .l{
            @include abs($l:-15%,$r:-15%,$t:-15%,$b:-15%);
            margin-left:calc(-0.098/2*var(--h));
          }
          .ph{
            width:calc(100%/7);
            &.shown{
              &~.roller{
                display:block;
              }
              &:nth-child(3)~.roller{
                transform:translate(200%, 0);
              }
              &:nth-child(5)~.roller{
                transform:translate(400%, 0);
              }
              &:nth-child(7)~.roller{
                transform:translate(600%, 0);
              }
            }
            &:nth-child(1){
              margin-left:calc(-0.098/2*var(--h));
            }
          }
        }
      }
      .ph{
        @include flx(display,flex);
        @include flx(justify-content,center);
        @include flx(align-items,center);
      }
      .roller{
        @include abs($t:0);
        @include trs('transform #{$anim} ease-in-out');
      }
      .t-arr,.b-arr{
        @include abs($l:50%);
        width:4em;
        height:4em;
        cursor:pointer;
      }
      .t-arr{
        top:-4.3em;
        transform:translate(-50%, 0) rotate(-90deg);
      }
      .b-arr{
        bottom:-4.3em;
        transform:translate(-50%, 0) rotate(90deg);
      }
      .table{
        --w:36em;
        @include center();
        width:var(--w);
        color:rgba(#fff,.25);
        margin-top:calc(var(--w)/40);
      }
      .t-into{
        width:100%;
        height:100%;
      }
      .t-over{
        @include abs($l:0,$t:0);
        width:100%;
        height:100%;
        background:center/contain no-repeat;
        pointer-events:none;
      }
      .t-tr{
        height:calc(var(--w)/10);
        @include flx(display,flex);
        @include med(){
          &:hover{
            background:rgba(#000,.2);
          }
        }
        &:first-child{
          border-radius:.6em .6em 0 0;
        }
        &:last-child{
          border-radius:0 .6em .6em 0;
        }
      }
      .t-td{
        width:calc(var(--w)/10);
        height:100%;
        position:relative;
        @include flx(display,flex);
        @include flx(align-items,center);
        @include flx(justify-content,center);
        cursor:pointer;
        @include med(){
          &:hover{
            color:#fff;
          }
        }
        &.shown{
          background:rgba(#000,.2);
        }
        &.top{
          color:getc(digit);
          @include abs($t:calc(var(--w)/-10));
          pointer-events:none;
        }
        &.left{
          color:getc(digit);
          @include abs($l:calc(var(--w)/-10));
          pointer-events:none;
        }
      }
    }
    &.labyrinth{
      video{
        position:absolute;
        width:100%;
        height:100%;
      }
      .ovl{
        @include abs($l:-.07em,$r:-.07em,$t:0,$b:0);
        overflow:hidden;
        div{
          width:200%;
          height:200%;
          @include abs($l:-50%,$t:-50%);
          background:center/50% 50%;
          -webkit-mask-image:radial-gradient(ellipse closest-side,transparent,#000 50%);
          mask-image:radial-gradient(ellipse closest-side,transparent,#000 50%);
          -webkit-mask-size:100% 100%;
          mask-size:100% 100%;
          -webkit-mask-repeat:no-repeat;
          mask-repeat:no-repeat;
        }
      }
      .into{
        height:100%;
        position:relative;
        opacity:0;
        pointer-events:none;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          opacity:1;
          pointer-events:auto;
        }
      }
      .choose{
        @include abs($l:0,$r:0,$t:0,$b:0);
        background:center/contain no-repeat;
      }
      .btn{
        position:absolute;
        width:7.8%;
        padding-bottom:7.8%;
        cursor:pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
      }
    }
    &.fix{
      &.ready .ov-inner.int.shown{
        .l-arr,.r-arr{
          visibility:visible;
        }
      }
      .words{
        @include center($t:3em);
      }
      video{
        @include center();
        width:40em;
        height:54/114*40em;
        border:1px solid rgba(#fff, .3);
      }
      .l-arr,.r-arr{
        @include abs($t:50%);
        width:5em;
        height:192/100*5em;
        cursor:pointer;
        margin-top:-192/200*5em;
        visibility:hidden;
      }
      .l-arr{
        left:3em;
        transform:scale(-1,1);
      }
      .r-arr{
        right:3em;
      }
      .the-btn{
        @include center($b:1.3em);
        text-align:center;
        &.err .l:before{
          content:'';
          @include trs('all #{$anim} ease-in-out');
          border:.5em solid rgba(#f00, .5);
          text-indent:1px;
        }
        .l:before{
          content:'';
          text-indent:0;
          @include abs($l:.5em,$r:0,$t:0,$b:0);
          border-radius:1em;
        }
      }
    }
  }

  /*.test-mask{
    background: url(#{$path}/1-23/1-23-bg.jpg) center/cover no-repeat;
    -webkit-mask-image:url(#{$path}test/mask2.png);
    mask-image:url(#{$path}test/mask2.png);
    -webkit-mask-position:10em 10em;
    -webkit-mask-size:200px;
    -webkit-mask-repeat:no-repeat;
    z-index:2;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
  }*/
}