@include exports("@path:components\_ep2.scss"){/*@path:components\_ep2.scss*/
  .ov-wrap{
    &.qs{
      .int-score{
        @include abs($b:2em,$l:35em);
      }
      .left{
        position:absolute;
        width:100%;
        height:100%;
      }
      .reveal{
        opacity:0;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          opacity:1;
        }
      }
      .right{
        @include abs($l:35em,$r:2em,$t:5em);
      }
      .item{
        position:absolute;
        opacity:0;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          opacity:1;
        }
      }
      .h{
        font-weight:300;
        margin-bottom:2em;
        text-transform:uppercase;
      }
      .text{
        font-size:.75em;
        @include med(){
          font-size:.6em;
        }
      }
      .btns{
        @include abs($l:35em,$t:12em);
        @include flx(display,flex);
        .l{
          width:6em;
          height:6em;
          cursor:pointer;
          position:relative;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          &:nth-child(2){
            margin-left:3em;
          }
          &.err:before{
            content:'';
            @include trs('all #{$anim} ease-in-out');
            border:.5em solid rgba(#f00, .5);
            text-indent:1px;
          }
          &:before{
            content:'';
            text-indent:0;
            @include abs($l:0,$r:0,$t:0,$b:0);
            border-radius:50%;
          }
        }
      }
    }
    &.ring{
      .note{
        position:absolute;
        width:100%;
        height:100%;
        background:center/contain no-repeat;
        font-size:1.2em;
      }
      .n-text{
        text-transform:uppercase;
        color:#000;
        text-align:center;
        @include center($t:10em);
        &:nth-child(2){
          top:13.3em;
        }
        &:nth-child(3){
          top:14.5em;
        }
      }
      .l-arr,.r-arr{
        width:4em;
        height:1.92*4em;
        @include abs($b:3em);
        cursor:pointer;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
      }
      .l-arr{
        left:10em;
        transform:scale(-1, 1);
      }
      .r-arr{
        right:10em;
      }
      .rings{
        width:52%;
        padding-bottom:52%;
        @include abs($t:100%,$l:50%);
        transform:translate(-50%, -27%);
        .l{
          @include abs($t:-6.2em,$b:-6.2em,$l:-6.2em,$r:-6.2em);
        }
      }
      .r-mask{
        position:absolute;
        width:100%;
        height:100%;
        background:center/contain no-repeat;
        -webkit-mask-image:linear-gradient(90deg,transparent,#000,transparent);
        mask-image:linear-gradient(90deg,transparent,#000,transparent);
      }
      .r-in{
        height:100%;
        background:center/contain no-repeat;
        @include trs('transform #{$anim} linear');
      }
    }
  }

  /*.test-mask{
    background: url(#{$path}/1-23/1-23-bg.jpg) center/cover no-repeat;
    -webkit-mask-image:url(#{$path}test/mask2.png);
    mask-image:url(#{$path}test/mask2.png);
    -webkit-mask-position:10em 10em;
    -webkit-mask-size:200px;
    -webkit-mask-repeat:no-repeat;
    z-index:2;
    position:fixed;
    width:100%;
    height:100%;
    top:0;
  }*/
}