@include exports("@path:components\_ep3.scss"){/*@path:components\_ep3.scss*/
  .ov-wrap{
    &.browser{
      .top{
        position:absolute;
        width:100%;
      }
      .container{
        @include abs($t:2.5em,$b:0,$l:0,$r:0);
        overflow:hidden;
        @extend %loader;
        pointer-events:none;
        &.shown{
          pointer-events:auto;
        }
      }
      .t-scroll-wrap{
        height:100%;
        overflow:auto;
        background:#eee;
      }
      .bg{
        width:100%;
      }
      .caller{
        position:absolute;
        background:rgba(#f00,.3);
        cursor:pointer;
        z-index:1;
      }
      .pops{
        z-index:1;
        position:fixed;
        width:100%;
        height:100%;
        opacity:0;
        visibility:hidden;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          visibility:visible;
          opacity:1;
        }
      }
      .p-bg{
        @include abs($l:0,$r:0,$t:0,$b:0);
        background:rgba(#000,.3);
        cursor:pointer;
      }
      .p-inner{
        @include center();
        width:22em;
        padding:1em;
        background:rgba(#000,.3);
      }
      .close{
        @include abs($t:0,$r:0);
        color:#f00;
        padding:0 .3em;
        cursor:pointer;
      }
      .pop{
        display:none;
        &.shown{
          display:block;
        }
      }
    }
  }
}