@include exports("@path:components\_ep3.scss"){/*@path:components\_ep3.scss*/
  .ov-wrap{
    &.browser{
      .top{
        position:absolute;
        width:100%;
      }
      .time{
        font-size:.5em;
        line-height:2em;
        width:8em;
        @include abs($t:0,$r:0);
        span{
          margin-left:.3em;
        }
      }
      .container{
        @include abs($t:2.5em,$b:0,$l:0,$r:0);
        overflow:hidden;
        @extend %loader;
        pointer-events:none;
        background-color:#eee;
        &.shown{
          pointer-events:auto;
        }
      }
      .bg{
        width:100%;
      }
      .caller{
        position:absolute;
        cursor:pointer;
        z-index:1;
      }
      .pops{
        z-index:1;
        position:fixed;
        width:100%;
        height:100%;
        opacity:0;
        visibility:hidden;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          visibility:visible;
          opacity:1;
        }
      }
      .p-bg{
        @include abs($l:0,$r:0,$t:0,$b:0);
        background:rgba(#000,.8);
        cursor:pointer;
      }
      .p-inner{
        @include center();
        width:40em;
        padding:1em;
        background:rgba(#000,.6);
        border-radius:.3em;
        @include med(){
          width:22em;
        }
      }
      .close{
        @include abs($t:-1em,$r:-1em);
        width:2em;
        cursor:pointer;
      }
      .pop{
        display:none;
        font-size:2em;
        @include med(){
          font-size:1em;
        }
        &.shown{
          display:block;
        }
      }
    }
    &.loop{
      .ov-inner.int.shown~.the-prog{
        opacity:1;
      }
      .l{
        position:absolute;
        width:100%;
        height:100%;
      }
      .btn{
        @include abs($l:46em,$t:-2em);
        width:17.2%;
        height:108.5%;
        transform:rotate(-24deg);
        cursor:pointer;
        display:none;
        &.shown{
          display:block;
        }
      }
    }
    &.qs1{
      &.remain{
        .h-b-var:first-child{
          display:none;
        }
        .h-b-var:nth-child(2){
          display:block;
        }
      }
      .left,.right{
        position:absolute;
        width:100%;
        height:100%;
      }
      .reveal{
        position:absolute;
        opacity:0;
        width:20em;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          opacity:1;
        }
      }
      .item{
        @include center($t:5em);
        width:35%;
        text-align:center;
        opacity:0;
        @include trs('opacity #{$anim} ease-in-out');
        &.shown{
          opacity:1;
        }
      }
      .h{
        font-weight:300;
        margin-bottom:2em;
        text-transform:uppercase;
      }
      .text{
        font-size:.75em;
        @include med(){
          font-size:.6em;
        }
      }
      .btns{
        @include center($t:40%);
        @include flx(display,flex);
        .l{
          width:6em;
          height:6em;
          cursor:pointer;
          position:relative;
          -webkit-tap-highlight-color: rgba(0,0,0,0);
          &:nth-child(2){
            margin-left:3em;
          }
          &.yep{
            transform:scale(-1, 1);
          }
        }
      }
      .rotator{
        @include center($t:65%);
        width:10em;
        height:10em;
        .l{
          position:absolute;
          width:100%;
          height:100%;
          &.prog{
            width:13em;
            height:13em*.16;
            @include center();
          }
        }
      }
      .p-text{
        @include center();
        white-space:nowrap;
        color:#000;
      }
    }
  }
}