@include exports("@path:components\_ep4.scss"){/*@path:components\_ep4.scss*/
  .ov-wrap{
    &.tablets{
      &.vanish .the-btn:not(.alt){
        visibility:hidden;
        opacity:0;
        @include trs('opacity #{$anim} ease-in-out 2s,visibility 0s ease-in-out 2s');
        .btn-sh{
          opacity:1;
        }
      }

      .ov-inner{
        &.int{
          @include center();
          @include flx(flex-flow, 'row wrap');
          @include flx(justify-content, center);
          height:auto;
          text-align:center;
          &.shown{
            @include flx(display, flex);
            &+.the-prog{
              opacity:1;
            }
          }
        }
      }

      .the-btn{
        margin:0 6em;
        position:relative;
        &:not(.alt){
          visibility:visible;
          .l{
            transform:scale(-1,1);
          }
        }
      }
      .btn-sh{
        opacity:0;
      }
    }
  }
}