@include exports("@path:components\_ep4.scss"){/*@path:components\_ep4.scss*/
  .ov-wrap{
    &.tablets{
      &.vanish{
        .l:first-child{
          opacity:0;
          @include trs('opacity #{$anim} ease-in-out 3s,visibility 0s ease-in-out 3.3s');
        }
        .the-btn:not(.alt){
          visibility:hidden;
          opacity:0;
          @include trs('opacity #{$anim} ease-in-out 3s,visibility 0s ease-in-out 3.3s');
          .btn-sh{
            opacity:1;
          }
        }
      }

      .ov-inner{
        &.int{
          @include center();
          @include flx(flex-flow, 'row wrap');
          @include flx(justify-content, center);
          text-align:center;
          &.shown{
            @include flx(display, flex);
            &+.the-prog{
              opacity:1;
            }
          }
        }
      }

      .l{
        @include abs($l:0,$r:0,$t:0,$b:0);
      }

      .the-btn{
        @include abs($l:19em,$t:3em);
        width:7em;
        padding-top:6em;
        &.alt{
          left:32.5em;
          top:22em;
          width:16em;
        }
        &:not(.alt){
          visibility:visible;
        }
      }
      .btn-sh{
        opacity:0;
        @include center($b:0);
        white-space:nowrap;
      }
    }
  }
}