@include exports("@path:components\_info-pop.scss"){/*@path:components\_info-pop.scss*/
  .info-pop{
    width:100%;
    height:56.25vw; //h:w=9/16
    max-height:100vh;
    max-width:177.7777vh; //16/9=1.778
    @include center();
    visibility:hidden;
    z-index:2;
    color:#fff;
    &.shown{
      visibility:visible;
      .caller{
        background-image:url(#{$path}/icons/icon-close.svg);
      }
      .inner{
        opacity:1;
        @include trs('opacity #{$anim} ease-in-out');
      }
    }
    .caller{
      @include abs($t:4em,$r:2em);
      text-align:center;
      width:3em;
      height:3em;
      cursor:pointer;
      visibility:hidden;
      z-index:1;
      background:url(#{$path}/icons/icon-menu.svg) center/cover no-repeat;
      @include med(){
        top:2em;
      }
      .start &{
        visibility:visible;
      }
    }
    .inner{
      @include abs($l:-1px,$r:-1px,$t:0,$b:0);
      padding:8em 0 4em 0;
      opacity:0;
      background:center/cover;
      @include flx(display,flex);
      font-size:.6em;
    }
    .tabs{
      width:33%;
      text-align:right;
      text-transform:uppercase;
      div{
        cursor:pointer;
        margin-bottom:.9em;
        &.shown{
          color:rgba(#fff,.3);
          cursor:auto;
          span{
            background:none;
          }
        }
      }
      span{
        @include grad-ref($c:rgba(#fff,.3),$d:true);
      }
    }
    .content{
      margin-left:6em;
      @include flx(flex,'1 0 auto');
      @include flx(display,flex);
      @include flx(flex-flow,'column nowrap');
    }
    .top{
      margin-top:-.8em;
    }
    .h{
      font-size:4em;
      font-weight:300;
    }
    .desc{
      margin-top:2em;
    }
    .container{
      @include flx(flex,'1 0 auto');
      overflow:hidden;
      position:relative;
      margin-top:4em;
    }
    .t-scroll-wrap{
      @include abs($l:0,$r:0);
    }
    .t-scroll-bar{
      background:rgba(#fff,.3);
      div{
        background:rgba(#fff,.5);
      }
    }
    .block{
      display:none;
      &.shown{
        display:block;
      }
    }

    .the-code{
      margin-top:3em;
      @include flx(display,flex);
      @include flx(align-items,center);
      position:relative;
      &:before{
        content:'';
        background:linear-gradient(-90deg,#DF8998,#E5B99D 90%);
        @include abs($l:0,$b:0);
        width:24em;
        height:.3em;
      }
    }
    .code-input{
      border:none;
      background:none;
      color:#fff;
      width:16em;
      height:2em;
      font-size:1.5em;
      text-align:center;
      text-transform:uppercase;
      @include plh(){
        color:#fff;
        text-transform:uppercase;
      };
    }
    .code-hidden{
      position:absolute;
      opacity:0;
      pointer-events:none;
    }
    .code{
      width:16em;
      height:2em;
      font-size:1.5em;
      line-height:2em;
      text-align:center;
      text-transform:uppercase;
    }
    .btn{
      text-transform:uppercase;
      color:#DF8998;
      margin-left:1.5em;
      cursor:pointer;
      position:relative;
      padding-left:1.5em;
      &.go{
        padding-left:0;
      }
      &:before{
        content:'';
        background:center/cover no-repeat;
        width:1em;
        height:1em;
        @include center($l:0);
      }
      &.copy{
        &:before{
          background-image: url(#{$path}icons/icon-copy.svg);
        }
      }
    }
    .or-copy{
      margin-top:5em;
    }
    .qr{
      margin-top:4em;
      width:9em;
      height:9em;
      border:1em solid #fff;
      canvas{
        width:100%;
        height:100%;
      }
    }

    .ach-item{
      @include flx(display,flex);
      @include flx(align-items,center);
      &:nth-child(n+2){
        margin-top:4em;
      }
      &.disabled{
        opacity:.3;
      }
    }
    .ach-img{
      width:8em;
    }
    .ach-text{
      margin-left:2em;
    }
    .ach-h{
      text-transform:uppercase;
      margin-bottom:.4em;
    }
    .pers-item{
      @include flx(display,flex);
      &:nth-child(n+2){
        margin-top:4em;
      }
    }
    .pers-img{
      width:13em;
      box-shadow:0 0.93em 2.3em rgba(#000,.25);
    }
    .pers-text{
      margin-left:4em;
    }
    .pers-h{
      text-transform:uppercase;
      margin-bottom:.4em;
    }
    .art-item{
      &:nth-child(n+2){
        margin-top:4em;
      }
    }
    .art-ref{
      text-transform:uppercase;
      color:getc(digit);
      @include grad-ref($c:rgba(getc(digit),.3),$d:true);
      text-decoration:none;
      position:relative;
      &:before{
        content:'';
        @include center($r:-2em);
        width:1em;
        height:1em;
        background: url(#{$path}/icons/icon-new.svg) center/cover no-repeat;
      }
    }
    .art-text{
      margin-top:.4em;
    }
  }
}