<!DOCTYPE html>
<html data-app='{"modules":["index"],"index":2}'>
    <head>
		@@include('components/head.html')
        @@include('components/scripts.html')
	</head>
	<body>
    <!-- Yandex.Metrika counter -->
    <!--<script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(68233750, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
     });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/68233750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
    <!-- /Yandex.Metrika counter -->
		<div id="wrap">
			<video playsinline
					class="video-js"
					controls>
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
            <!--<div class="test-mask">
            
            </div>-->
			<div class="overlay-block">
                <div class="ov-wrap qs">
                    <div class="bg-img" style="background-image: url(images/2-25/2-25-bg.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Листовки</div>
                            <div class="h-b-text">
                                Текст текст текст
                            </div>
                            <div class="h-b-infogr">
                                <picture>
                                    <source srcset="images/1-30/1-30-intro-pic.png" media="(min-width:1024px)"/>
                                    <img src="images/1-30/1-30-intro-pic-m.png" alt=""/>
                                </picture>
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="bg-img l" style="background-image: url(images/2-25/map.svg);"></div>
                        <div class="left"></div>
                        <div class="right"></div>
                        <div class="int-score">
                            <div class="s-dots"><div></div><div></div><div></div></div>
                            <div class="s-amt">0</div>
                            <div class="s-descr">ваши очки</div>
                        </div>
                        <div class="btns">
                            <div class="l yep"></div>
                            <div class="l"></div>
                        </div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Конец</div>
                            <div class="h-b-text">
                                Конец конец
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap ring">
                    <div class="bg-img" style="background-image: url(images/2-7/2-7-bg1.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Листовки</div>
                            <div class="h-b-text">
                                Текст текст текст
                            </div>
                            <div class="h-b-infogr">
                                <picture>
                                    <source srcset="images/1-30/1-30-intro-pic.png" media="(min-width:1024px)"/>
                                    <img src="images/1-30/1-30-intro-pic-m.png" alt=""/>
                                </picture>
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="rings">
                            <div class="r-mask" style="background-image: url(images/2-7/2-7-ring-out.svg);">
                                <div class="r-in" style="background-image: url(images/2-7/2-7-ring-in.svg);"></div>
                            </div>
                            <div class="l"></div>
                        </div>
                        <div class="l-arr"></div>
                        <div class="r-arr"></div>
                    </div>
                    <div class="ov-inner int">
                        <div class="digits d1" style="background-image: url(images/2-7/2-7-bigframe.svg);">
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="roller">
                                <div class="t-arr"></div>
                                <div class="l"></div>
                                <div class="b-arr"></div>
                            </div>
                        </div>
                    </div>
                    <div class="note" style="background-image: url(images/2-7/2-7-bg2.jpg);">
                        <div class="n-text"></div>
                        <div class="n-text"></div>
                        <div class="n-text"></div>
                    </div>
                    <div class="ov-inner int">
                        <div class="digits d2" style="background-image: url(images/2-7/2-7-topframe.svg);">
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph"></div>
                            <div class="roller" >
                                <div class="l" style="background-image: url(images/2-7/2-7-two-digit-focus.svg);"></div>
                            </div>
                        </div>
                        <div class="digits d3" style="background-image: url(images/2-7/2-7-botframe.svg);">
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="ph empty"></div>
                            <div class="ph"></div>
                            <div class="roller"><div class="l"></div></div>
                        </div>
                        <div class="table">
                            <div class="into"></div>
                            <div class="t-over" style="background-image: url(images/2-7/2-7-table.svg);"></div>
                        </div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Конец</div>
                            <div class="h-b-text">
                                Конец конец
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="the-prog"></div>
                </div>
                <div class="ov-wrap labyrinth">
                    <div class="ov-inner hi-bye">
                        <div class="bg-img" style="background-image: url(images/2-28/2-28-lost-bg.jpg);"></div>
                        <div class="ov-cont">
                            <div class="h-b-h">Лабиринт</div>
                            <div class="h-b-text">
                                Текст
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <video playsinline></video>
                        <div class="into"></div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="bg-img" style="background-image: url(images/2-28/2-28-overlay.jpg);"></div>
                        <div class="ov-cont">
                            <div class="h-b-h">Конец</div>
                            <div class="h-b-text">
                                Конец конец
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="start-pop">
                <!--<div class="text">
                    Какой-то текст, если нужен
                </div>-->
                <div class="start">
                    <img src="images/startscreen-btn-h.png" alt=""/>
                    <img src="images/startscreen-btn.png" alt=""/>
                </div>
            </div>
            <div class="s-ctrls">
                <div class="continue">
                    <img src="images/startscreen-btn-continue.svg" alt=""/>
                    <img src="images/startscreen-btn-continue-h.svg" alt=""/>
                </div>
                <div class="clr hoverable">
                    <img src="images/startscreen-btn-restart.svg" alt=""/>
                    <img src="images/startscreen-btn-restart-h.svg" alt=""/>
                </div>
            </div>
            <div class="loader-pop">
                <div class="l"></div>
            </div>
            <div class="orientation-pop">
                <div class="text">
                    Экран слишком мал :(<br/>
                    Переверните устройство или используйте компьютер, инспектор.
                </div>
            </div>
            <div class="special-btns"></div>
            <div class="achievement-pop"></div>
            <div class="info-pop-caller">Жми сюды</div>
            <div class="info-pop">
                <div class="close-bg"></div>
                <div class="inner">
                    <div class="close">&times;</div>
                    <div class="h"></div>
                    Тут будет всякая инфа, ачивки и прочее
                </div>
            </div>
		</div>
    <script type="text/template" id="i-2-28-template">
        <div class="ovl">
            <div style="background-image: url(images/2-28/2-28-overlay.jpg);-webkit-mask-position:<%= ovl.left %>em <%= ovl.top %>em;mask-position:<%= ovl.left %>em <%= ovl.top %>em;"></div>
        </div>
        <div class="choose" style="background-image: url(images/2-28/<%= src %>.svg);">
            <% for(let i=0;i<btns.length;i++){ %>
            <div class="btn" style="left:<%= btns[i].left %>%;top:<%= btns[i].top %>%;"></div>
            <% } %>
        </div>
    </script>
    <script type="text/template" id="i-2-7-table-template">
        <% for(let i=0;i<rows;i++){ %>
        <div class="t-tr">
            <% for(let j=0;j<cols;j++){ %>
            <div class="t-td">
                <%= Math.floor(Math.random()*10) %>
                <% if(i===0){ %>
                <div class="t-td top"><%= j %></div>
                <% } %>
                <% if(j===0){ %>
                <div class="t-td left"><%= i %></div>
                <% } %>
            </div>
            <% } %>
        </div>
        <% } %>
    </script>
    <script type="text/template" id="i-2-25-reveal-template">
        <% for(let i=0;i<items.length;i++){ if('index' in items[i])%>
        <div class="bg-img reveal" style="background-image: url(images/2-25/over<%= items[i].index+1 %>.svg);"></div>
        <% } %>
    </script>
    <script type="text/template" id="i-2-25-item-template">
        <% for(let i=0;i<items.length;i++){%>
        <div class="item">
            <div class="h"><%= items[i].h %></div>
            <div class="text"><%= items[i].text %></div>
        </div>
        <% } %>
    </script>
        <script type="text/template" id="ext-player-template">
            <a href="" class="return hoverable">
                <img src="images/player-close.svg" alt=""/>
                <img src="images/player-close-h.svg" alt=""/>
            </a>
            <input type="checkbox" />
            <div class="sp-toggle">
                <div class="hoverable">
                    <img src="images/player-ch-btn-open.svg" alt=""/>
                    <img src="images/player-ch-btn-open-h.svg" alt=""/>
                </div>
                <div class="hoverable">
                    <img src="images/player-ch-btn-collapse.svg" alt=""/>
                    <img src="images/player-ch-btn-collapse-h.svg" alt=""/>
                </div>
            </div>
            <div class="step-btns">
                <% for(let i=0;i<choose.length;i++){ %>
                <div class="int-ind-back<%= choose[i]?' enabled':' ' %>"><span><%= i+1 %></span></div>
                <% } %>
            </div>
        </script>
	</body>
</html>