<!DOCTYPE html>
<html data-app='{"modules":["index"],"index":1}'>
    <head>
		@@include('components/head.html')
        @@include('components/scripts.html')
	</head>
	<body>
    <!-- Yandex.Metrika counter -->
    <!--<script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(68233750, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
     });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/68233750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
    <!-- /Yandex.Metrika counter -->
		<div id="wrap">
			<video playsinline
					class="video-js"
					controls>
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
			<div class="overlay-block">
                <div class="ov-wrap fork">
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Заголовок</div>
                            <div class="h-b-text">
                                It is a long established fact that a reader will be distracted <br/>by the readable content of a page when looking at its layout.
                            </div>
                            <div class="h-b-infogr">
                                <img src="images/1-25/1-25-intro-pic.png" alt=""/>
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner">
                        <div class="btn">
                            <div class="l"></div>
                            <div class="btn-h"><div>Сопротивляться</div></div>
                            <div class="btn-sh">Рискуя дополнительно разозлить насильника</div>
                        </div>
                        <div class="btn alt">
                            <div class="l"></div>
                            <div class="btn-h"><div>Бежать</div></div>
                            <div class="btn-sh">И оставить Артема одного?</div>
                        </div>
                    </div>
                    <div class="the-prog"></div>
                </div>
                <div class="ov-wrap packing">
                    <div class="bg-img" style="background-image: url(images/1-25/1-25-bg.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Помоги лешему собраться</div>
                            <div class="h-b-text">
                                It is a long established fact that a reader will be distracted <br/>by the readable content of a page when looking at its layout.
                                <br/><br/>
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English
                            </div>
                            <div class="h-b-infogr">
                                <img src="images/1-25/1-25-intro-pic.png" alt=""/>
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="ov-cont phase1">
                            <div class="into"></div>
                            <div class="left">
                                <div class="l"></div>
                                <div class="l-h"><span>Не нужно</span></div>
                            </div>
                            <div class="right">
                                <div class="l"></div>
                                <div class="r-h"><span>Взять с собой</span></div>
                                <div class="r-ctr"><span></span></div>
                            </div>
                            <img src="images/1-25/1-25-arrows.svg" alt="" class="arr"/>
                        </div>
                        <div class="score">
                            <div class="s-dots"><div></div><div></div><div></div></div>
                            <div class="s-amt">0</div>
                            <div class="s-descr">ваши очки</div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="ov-cont phase2">
    
                        </div>
                        <div class="score">
                            <div class="s-dots"><div></div><div></div><div></div></div>
                            <div class="s-amt">0</div>
                            <div class="s-descr">ваши очки</div>
                        </div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Конечный заголовок</div>
                            <div class="h-b-text">
                                Описание конечного блока интерактива
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap team">
                    <div class="bg-img" style="background-image: url(images/1-30/1-30-bg.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Avenger assemble</div>
                            <div class="h-b-text">
                                It is a long established fact that a reader will be distracted <br/>by the readable content of a page when looking at its layout.
                                <br/><br/>
                                The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English
                            </div>
                            <div class="h-b-infogr">
                                <img src="images/1-25/1-25-intro-pic.png" alt=""/>
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <video playsinline preload="auto" muted class="emerge" src="../videos/1-30-team-deck.mp4"></video>
                        <div class="ov-cont">
                            <div class="into"></div>
                            <div class="left">
                                <div class="l"></div>
                                <div class="l-h"><span>В другой раз</span></div>
                            </div>
                            <div class="right">
                                <div class="l"></div>
                                <div class="r-h"><span>Подключаются к поиску</span></div>
                                <div class="r-ctr"><span></span></div>
                            </div>
                            <img src="images/1-25/1-25-arrows.svg" alt="" class="arr"/>
                        </div>
                    </div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Конечный заголовок</div>
                            <div class="h-b-text">
                                Описание конечного блока интерактива
                            </div>
                            <div class="h-b-btn">
                                <span>Далее</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="start-pop">
                <!--<div class="text">
                    Какой-то текст, если нужен
                </div>-->
                <div class="start hoverable">
                    <img src="images/startscreen-btn-h.png" alt=""/>
                    <img src="images/startscreen-btn.png" alt=""/>
                </div>
            </div>
            <div class="s-ctrls">
                <div class="continue hoverable">
                    <img src="images/startscreen-btn-continue.svg" alt=""/>
                    <img src="images/startscreen-btn-continue-h.svg" alt=""/>
                </div>
                <div class="clr hoverable">
                    <img src="images/startscreen-btn-restart.svg" alt=""/>
                    <img src="images/startscreen-btn-restart-h.svg" alt=""/>
                </div>
            </div>
            <div class="loader-pop">
                <div class="l"></div>
            </div>
            <div class="orientation-pop">
                <div class="text">
                    Экран слишком мал :(<br/>
                    Переверните устройство или используйте компьютер, инспектор.
                </div>
            </div>
            <div class="special-btns"></div>
            <div class="achievement-pop"></div>
            <div class="info-pop-caller">Жми сюды</div>
            <div class="info-pop">
                <div class="close-bg"></div>
                <div class="inner">
                    <div class="close">&times;</div>
                    <div class="h"></div>
                    Тут будет всякая инфа, ачивки и прочее
                </div>
            </div>
		</div>
    <script type="text/template" id="i-1-30-item-template">
        <% for(let i=0;i<items.length;i++){%>
        <div class="item">
            <div class="i-img">
                <img src="images/1-30/card<%= i+1 %>.png" alt=""/>
            </div>
        </div>
        <% } %>
    </script>
    <script type="text/template" id="i-1-25-item-template">
        <% for(let i=0;i<items.length;i++){%>
        <div class="item<%= !i?' shown':'' %>">
            <div class="i-h"><%= items[i].h %></div>
            <div class="i-img">
                <img src="images/1-25/1-25-obj<%= i+1 %>.png" alt=""/>
            </div>
            <div class="i-desc"><%= items[i].desc %></div>
        </div>
        <% } %>
    </script>
    <script type="text/template" id="i-1-25-circle-template">
        <% for(let i=0;i<circles.length;i++){%>
        <div class="circle" style="left:<%= circles[i].left %>%;top:<%= circles[i].top %>%;"><div class="l"></div></div>
        <% } %>
    </script>
        <script type="text/template" id="ext-player-template">
            <a href="" class="return hoverable">
                <img src="images/player-close.svg" alt=""/>
                <img src="images/player-close-h.svg" alt=""/>
            </a>
            <input type="checkbox" />
            <div class="sp-toggle">
                <div class="hoverable">
                    <img src="images/player-ch-btn-open.svg" alt=""/>
                    <img src="images/player-ch-btn-open-h.svg" alt=""/>
                </div>
                <div class="hoverable">
                    <img src="images/player-ch-btn-collapse.svg" alt=""/>
                    <img src="images/player-ch-btn-collapse-h.svg" alt=""/>
                </div>
            </div>
            <div class="step-btns">
                <% for(let i=0;i<choose.length;i++){ %>
                <div class="int-ind-back<%= choose[i]?' enabled':' ' %>"><span><%= i+1 %></span></div>
                <% } %>
            </div>
        </script>
	</body>
</html>