<!DOCTYPE html>
<html data-app='{"modules":["index"],"index":4}'>
    <head>
		@@include('components/head.html')
        @@include('components/scripts.html')
	</head>
	<body>
    <!-- Yandex.Metrika counter -->
    <!--<script type="text/javascript" >
     (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
      m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
     (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

     ym(68233750, "init", {
      clickmap:true,
      trackLinks:true,
      accurateTrackBounce:true
     });
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/68233750" style="position:absolute; left:-9999px;" alt="" /></div></noscript>-->
    <!-- /Yandex.Metrika counter -->
		<div id="wrap">
			<video playsinline
					class="video-js"
					controls>
				<p class="vjs-no-js">
					To view this video please enable JavaScript, and consider upgrading to a
					web browser that
					<a href="https://videojs.com/html5-video-support/" target="_blank">
						supports HTML5 video
					</a>
				</p>
			</video>
            <!--<div class="test-mask">
            
            </div>-->
			<div class="overlay-block">
                <div class="ov-wrap qs">
                    <div class="bg-img" style="background-image: url(images/4-31/4-31-bg.jpg);"></div>
                    <div class="ov-inner int">
                        <div class="bg-img l" style="background-image: url(images/4-31/4-31-map.svg);">
                            <img src="images/2-25/map-bg.svg" alt=""/>
                        </div>
                        <div class="left"></div>
                        <div class="right"></div>
                        <div class="btns">
                            <div class="l yep"><img src="images/2-25/button.svg" alt=""/></div>
                        </div>
                    </div>
                </div>
                <div class="ov-wrap fork">
                    <div class="bg-img" style="background-image: url(images/4-6/bg.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Побег? Побег!? Побег!</div>
                            <div class="h-b-text">
                                Прими решение, как действовать Максу, выбрав один из вариантов.
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int diff">
                        <div class="l-bg"></div>
                        <div class="l-bg"></div>
                        <div class="the-btn">
                            <div class="btn-h"><div>Выбить дверь</div></div>
                        </div>
                        <div class="the-btn alt">
                            <div class="btn-h"><div>Искать другой выход</div></div>
                        </div>
                    </div>
                    <div class="the-blood" style="background-image:url(images/blood.svg);"></div>
                    <div class="the-prog"></div>
                </div>
                <div class="ov-wrap tablets">
                    <div class="bg-img" style="background-image: url(images/4-4/bg.jpg);"></div>
                    <div class="ov-inner hi-bye">
                        <div class="ov-cont">
                            <div class="h-b-h">Таблетки для Артёма</div>
                            <div class="h-b-text">
                                В кармане пусто. Прими решение, как поступить Лисе, выбрав один из вариантов действий.
                            </div>
                            <div class="h-b-btn">
                                <span>Начать</span>
                                <div class="h-b-l"></div>
                            </div>
                        </div>
                    </div>
                    <div class="ov-inner int">
                        <div class="l"></div>
                        <div class="l"></div>
                        <div class="the-btn">
                            <div class="btn-h"><div>Уйти</div></div>
                            <div class="btn-sh">Отчаянные времена требуют отчаянных мер</div>
                        </div>
                        <div class="the-btn alt">
                            <div class="btn-h"><div>Отвлечь продавца</div></div>
                        </div>
                    </div>
                    <div class="the-blood" style="background-image:url(images/blood.svg);"></div>
                    <div class="the-prog"></div>
                </div>
            </div>
            
            @@include('components/shared.html')
		</div>
    <script type="text/template" id="i-2-25-item-template">
        <% for(let i=0;i<items.length;i++){%>
        <div class="item">
            <div class="h"><%= items[i].h %></div>
            <div class="text"><%= items[i].text %></div>
        </div>
        <% } %>
    </script>
    @@include('components/shared-tmpls.html')
	</body>
</html>